{% extends "base.html" %} {% block title %}home{% endblock %}

{% block content %}
<form method="POST">
    <br />
    <h3 align="center">Welcome to our website!</h3>
    <br />
    <p>Here you can find a calculator for the Gordon growth model, archive data, and a graph based on it.</p>
    <br />
    <p>To access the website log in here:   <a href="/login" class="btn btn-primary">Login</a></p>
    <br />
    <p>Not a member yet? Register here:   <a href="/sign-up" class="btn btn-primary">Create account</a></p>
    <br />
    <br />
    <br />
    <p align="center">Thank you for visiting!</p>
</form>
{% endblock %}